<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>683112036706-19pioovk5d6momc42eku31j96d9jntkj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.683112036706-19pioovk5d6momc42eku31j96d9jntkj</string>
	<key>API_KEY</key>
	<string>AIzaSyCMjJ1P0xDQRegjpPRQiJjKz1lRcF4BF1E</string>
	<key>GCM_SENDER_ID</key>
	<string>683112036706</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.jobsLink</string>
	<key>PROJECT_ID</key>
	<string>cvcraft-98508</string>
	<key>STORAGE_BUCKET</key>
	<string>cvcraft-98508.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:683112036706:ios:44b631ebd625ab2c19143b</string>
</dict>
</plist>
